.board {
  display: grid;

  grid-template-columns: repeat(3, 100px);

  grid-gap: 5px;

  margin-top: 20px;
}

.cell {
  width: 100px;

  height: 100px;

  text-align: center;

  font-size: 36px;

  border: 2px solid #ccc;

  cursor: pointer;
}
